---
import LinkedInIcon from '../components/icons/linkedin.astro';
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Daniel">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<img class="rounded-full w-40 h-40 mb-5" src="https://imgs.search.brave.com/JVa_MDGOG2EICj_07Qg5jyrEBQ58Wbly-gpxdu7jffc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pLmNo/emJnci5jb20vZnVs/bC85MjczMjM0MTc2/L2gxOTcyN0UwRS9h/bmltYWw" alt="daniel photo">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
				Hey, soy Daniel 
				<a  href="https://www.linkedin.com/in/daniel-fern%C3%A1ndez-s%C3%A1nchez-8259b822b/" target="_blank" rel="noopener" class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-2xl opacity-80 text-wrap">
				<span class="text-blue-400 font-bold">+2 años de experiencia.</span> Desarrollador Web y Diseñador UX. <span class="text-red-200/90">De Murcia, España.</span> <span class="opacity-80">Especializado en crear soluciones a problemas Reales.</span>
			</h2>

			<ul>
				<li>
					<a href="https://www.linkedin.com/in/daniel-fern%C3%A1ndez-s%C3%A1nchez-8259b822b/">
						<LinkedInIcon class="w-6 h-6"/>
						LinkeIn
					</a>
				</li>
			</ul>
		</section>
	</main>
</Layout>
