---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Daniel">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
				Hey, soy Daniel 
				<a  href="https://www.linkedin.com/in/daniel-fern%C3%A1ndez-s%C3%A1nchez-8259b822b/" target="_blank" rel="noopener" class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl opacity-80">
				Desarrollador Web. De Murcia, España. Especializado en crear soluciones a problemas Reales.
			</h2>
		</section>
	</main>
</Layout>
