---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'Febrero 2023 - Actualidad',
        title: 'Ejad Industries',
        description: 
        'Como fundador y director de mi agencia de marketing digital, lideré la estrategia y operación general de la empresa, abarcando desde el desarrollo web en WordPress, utilizando Elementor para crear experiencias optimizadas para el usuario, hasta la atención integral al cliente, gestionando ventas, soporte y reuniones de desarrollo para asegurar la satisfacción continua. También implementé y supervisé estrategias de redes sociales para clientes, con un enfoque en crecimiento y engagement, además de coordinar un equipo de especialistas en SEO y desarrollo web para cumplir los objetivos de cada proyecto de manera efectiva.',
        link: 'https://danielejad.com',
    },
    {
        date: 'Octubre 2022 - Noviembre 2024',
        title: 'Sabiduría Flor de Lis',
        description: 
        "En mi rol como principal responsable digital en una universidad online de espiritualidad, me encargué del mantenimiento de la plataforma comercial, el e-commerce y el campus virtual en WordPress, asegurando un funcionamiento óptimo y actualizado. También gestioné la edición de clases y videos publicitarios en DaVinci Resolve, y brindé soporte técnico a estudiantes a través de teléfono, correo electrónico y chat, ofreciendo soluciones efectivas y una experiencia fluida en la plataforma.",
        link: 'https://sabiduriaflordelis.com',
    }
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">  
    {
        EXPERIENCE.map(experience => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...experience}/>
        </li>        
        ))
    }
</ol>

