<header class="flex justify-between items-center py-3 w-[1120px] mx-auto">
    <img class="rounded-full w-12 h-12" src="https://imgs.search.brave.com/JVa_MDGOG2EICj_07Qg5jyrEBQ58Wbly-gpxdu7jffc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pLmNo/emJnci5jb20vZnVs/bC85MjczMjM0MTc2/L2gxOTcyN0UwRS9h/bmltYWw" alt="daniel photo">
    <nav class="flex flex-row gap-x-10 opacity-90">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>